# Used Car Analysis

In [98]:
#Import needed modules and dataset(s) to be used
#Dataset acquired from: 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn
import plotly
import plotly.express as px
import plotly.graph_objects as go
import datetime

pd.set_option('display.max.columns', None)
cars_data = pd.read_csv('cars_raw.csv')

In [99]:
#Take a first look at dataframe
cars_data.head(5)

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,SellerReviews,StreetName,State,Zipcode,DealType,ComfortRating,InteriorDesignRating,PerformanceRating,ValueForMoneyRating,ExteriorStylingRating,ReliabilityRating,ExteriorColor,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
0,2019,Toyota,Sienna SE,Used,"$39,998",4.6,45,Dealer,CarMax Murrieta - Now offering Curbside Pickup...,3.3,3,25560 Madison Ave Murrieta,CA,92562,Great,4.7,4.6,4.6,4.4,4.6,4.7,Red,Black,Front-wheel Drive,19,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,5TDXZ3DC2KS015402,22998646,29403
1,2018,Ford,F-150 Lariat,Used,"$49,985",4.8,817,Dealer,Giant Chevrolet,4.8,131,1001 S Ben Maddox Way Visalia,CA,93292,Good,4.9,4.8,4.8,4.6,4.8,4.7,Shadow Black,Black,Four-wheel Drive,19,24,Gasoline,10-Speed Automatic,3.5L V6 24V PDI DOHC Twin Turbo,1FTEW1EG2JFD44217,22418A,32929
2,2017,RAM,1500 Laramie,Used,"$41,860",4.7,495,Dealer,Gill Auto Group Madera,4.6,249,1100 S Madera Ave Madera,CA,93637,Good,4.8,4.7,4.8,4.6,4.8,4.7,Granite Crystal Clearcoat Metallic,Black,Four-wheel Drive,15,21,Gasoline,8-Speed Automatic,5.7L V8 16V MPFI OHV,1C6RR7VT5HS842283,NG277871G,23173
3,2021,Honda,Accord Sport SE,Used,"$28,500",5.0,36,Dealer,AutoSavvy Las Vegas,4.6,284,2121 E Sahara Ave Las Vegas,NV,89104,NaN,4.9,5.0,4.9,5.0,5.0,5.0,Gray,–,Front-wheel Drive,29,35,Gasoline,Automatic CVT,1.5L I4 16V GDI DOHC Turbo,1HGCV1F49MA038035,54237,10598
4,2020,Lexus,RX 350,Used,"$49,000",4.8,76,Dealer,Lexus of Henderson,4.8,4755,7737 Eastgate Rd Henderson,NV,89011,Good,4.9,4.8,4.8,4.7,4.8,4.9,Eminent White Pearl,Birch,Front-wheel Drive,20,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,2T2AZMAA8LC156270,HDT4181A,28137

In [100]:
#Further Explore dataset
print(cars_data.describe(), end = '\n --- \n')
print(cars_data.isna().sum(), end = '\n --- \n')
print(cars_data['DealType'].value_counts(), end = '\n --- \n')
print(cars_data['Make'].value_counts())
print(cars_data['State'].value_counts())
print(cars_data.info())

              Year  ConsumerRating  ConsumerReviews  SellerRating  \
count  9379.000000     9379.000000      9379.000000   9379.000000
mean   2018.721719        4.702825       133.187014      4.412571
std       2.221708        0.240795       154.985640      0.626258
min    2001.000000        2.500000         1.000000      1.000000
25%    2018.000000        4.700000        30.000000      4.300000
50%    2019.000000        4.800000        75.000000      4.600000
75%    2020.000000        4.800000       182.000000      4.800000
max    2022.000000        5.000000       817.000000      5.000000

       SellerReviews  ComfortRating  InteriorDesignRating  PerformanceRating  \
count    9379.000000    9379.000000           9379.000000        9379.000000
mean      984.089988       4.771895              4.727391           4.696290
std      1609.039864       0.217822              0.194391           0.253664
min         1.000000       3.000000              2.800000           1.000000
25%       112.000000       4.700000              4.700000           4.600000
50%       542.000000       4.800000              4.800000           4.700000
75%      1272.000000       4.900000              4.800000           4.800000
max     27824.000000       5.000000              5.000000           5.000000

       ValueForMoneyRating  ExteriorStylingRating  ReliabilityRating  \
count          9379.000000            9379.000000        9379.000000
mean              4.537083               4.782194           4.681746
std               0.338098               0.171537           0.368161
min               1.000000               3.000000           1.000000
25%               4.500000               4.700000           4.600000
50%               4.600000               4.800000           4.800000
75%               4.700000               4.900000           4.900000
max               5.000000               5.000000           5.000000

            MinMPG       MaxMPG        Mileage
count  9379.000000  9379.000000    9379.000000
mean     22.755411    29.216548   37463.023350
std      14.812869    12.809783   24970.342569
min       0.000000     0.000000     121.000000
25%      18.000000    25.000000   18666.500000
50%      20.000000    27.000000   32907.000000
75%      24.000000    31.000000   47698.000000
max     150.000000   133.000000  234114.000000
 ---
Year                       0
Make                       0
Model                      0
Used/New                   0
Price                      0
ConsumerRating             0
ConsumerReviews            0
SellerType                 0
SellerName                 0
SellerRating               0
SellerReviews              0
StreetName                 0
State                      0
Zipcode                    0
DealType                 222
ComfortRating              0
InteriorDesignRating       0
PerformanceRating          0
ValueForMoneyRating        0
ExteriorStylingRating      0
ReliabilityRating          0
ExteriorColor              0
InteriorColor              0
Drivetrain                 0
MinMPG                     0
MaxMPG                     0
FuelType                   0
Transmission               0
Engine                     0
VIN                        0
Stock#                     0
Mileage                    0
dtype: int64
 ---
Good     5524
Great    2408
Fair     1225
Name: DealType, dtype: int64
 ---
BMW              944
Mercedes-Benz    810
Toyota           797
Honda            713
Ford             580
Jeep             495
Lexus            484
Audi             424
Chevrolet        416
Subaru           310
Cadillac         299
Nissan           251
GMC              250
Kia              240
Acura            231
INFINITI         216
Hyundai          212
Mazda            205
Tesla            186
Land             174
Volvo            148
RAM              145
Dodge            145
Volkswagen       140
Porsche          134
Lincoln          120
Buick            114
Chrysler          39
Alfa              38
Jaguar            30
Mitsubishi        20
Genesis           19
Maserati          15
Lamborghini       14
Bentley            6
MINI               5
Scion              4
FIAT               2
Mercury            2
Saturn             1
Ferrari            1
Name: Make, dtype: int64
TX          1225
FL           888
CA           668
IL           593
NY           440
GA           392
AZ           344
VA           340
NJ           337
OH           329
MD           323
MA           320
PA           282
MI           268
NC           229
MN           228
IN           183
MO           170
TN           166
WA           165
SC           163
CO           158
WI           127
CT            99
NV            93
KS            81
NH            80
KY            79
UT            73
AL            72
LA            51
OK            45
AR            41
OR            37
NE            37
IA            35
RI            35
ID            28
SD            23
MS            23
HI            16
ND            14
WV            13
RT            13
DE            13
ME             8
VT             7
NM             5
MT             4
WY             3
Michigan       2
Bldg           2
AZ-101         2
Suite          2
US-12          1
Glens          1
SE             1
AK             1
US-169         1
Name: State, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9379 entries, 0 to 9378
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   9379 non-null   int64
 1   Make                   9379 non-null   object
 2   Model                  9379 non-null   object
 3   Used/New               9379 non-null   object
 4   Price                  9379 non-null   object
 5   ConsumerRating         9379 non-null   float64
 6   ConsumerReviews        9379 non-null   int64
 7   SellerType             9379 non-null   object
 8   SellerName             9379 non-null   object
 9   SellerRating           9379 non-null   float64
 10  SellerReviews          9379 non-null   int64
 11  StreetName             9379 non-null   object
 12  State                  9379 non-null   object
 13  Zipcode                9379 non-null   object
 14  DealType               9157 non-null   object
 15  ComfortRating          9379 non-null   float64
 16  InteriorDesignRating   9379 non-null   float64
 17  PerformanceRating      9379 non-null   float64
 18  ValueForMoneyRating    9379 non-null   float64
 19  ExteriorStylingRating  9379 non-null   float64
 20  ReliabilityRating      9379 non-null   float64
 21  ExteriorColor          9379 non-null   object
 22  InteriorColor          9379 non-null   object
 23  Drivetrain             9379 non-null   object
 24  MinMPG                 9379 non-null   int64
 25  MaxMPG                 9379 non-null   int64
 26  FuelType               9379 non-null   object
 27  Transmission           9379 non-null   object
 28  Engine                 9379 non-null   object
 29  VIN                    9379 non-null   object
 30  Stock#                 9379 non-null   object
 31  Mileage                9379 non-null   int64
dtypes: float64(8), int64(6), object(18)
memory usage: 2.3+ MB
None

In [101]:
#Find and deal with missing values
print(cars_data[cars_data['DealType'].isna()]['DealType'])
cars_data['DealType'].fillna('No Data Available', inplace = True)
print(cars_data['DealType'].value_counts())

3       NaN
14      NaN
17      NaN
21      NaN
22      NaN
       ...
8913    NaN
9138    NaN
9171    NaN
9194    NaN
9305    NaN
Name: DealType, Length: 222, dtype: object
Good                 5524
Great                2408
Fair                 1225
No Data Available     222
Name: DealType, dtype: int64

In [102]:
#Clean/create new columns

#Drop $ ,(,), and 'Not Priced' to make price into an int column
price_na_list = cars_data[cars_data['Price'].eq('Not Priced')].index.tolist()
cars_data.drop(labels = price_na_list, inplace = True)
cars_data['Price'] = cars_data['Price'].str.replace('$', '', regex = False)
cars_data['Price'] = cars_data['Price'].str.replace(',', '', regex = False)
cars_data['Price'] = pd.to_numeric(cars_data['Price'])
print(cars_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9374 entries, 0 to 9378
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   9374 non-null   int64
 1   Make                   9374 non-null   object
 2   Model                  9374 non-null   object
 3   Used/New               9374 non-null   object
 4   Price                  9374 non-null   int64
 5   ConsumerRating         9374 non-null   float64
 6   ConsumerReviews        9374 non-null   int64
 7   SellerType             9374 non-null   object
 8   SellerName             9374 non-null   object
 9   SellerRating           9374 non-null   float64
 10  SellerReviews          9374 non-null   int64
 11  StreetName             9374 non-null   object
 12  State                  9374 non-null   object
 13  Zipcode                9374 non-null   object
 14  DealType               9374 non-null   object
 15  ComfortRating          9374 non-null   float64
 16  InteriorDesignRating   9374 non-null   float64
 17  PerformanceRating      9374 non-null   float64
 18  ValueForMoneyRating    9374 non-null   float64
 19  ExteriorStylingRating  9374 non-null   float64
 20  ReliabilityRating      9374 non-null   float64
 21  ExteriorColor          9374 non-null   object
 22  InteriorColor          9374 non-null   object
 23  Drivetrain             9374 non-null   object
 24  MinMPG                 9374 non-null   int64
 25  MaxMPG                 9374 non-null   int64
 26  FuelType               9374 non-null   object
 27  Transmission           9374 non-null   object
 28  Engine                 9374 non-null   object
 29  VIN                    9374 non-null   object
 30  Stock#                 9374 non-null   object
 31  Mileage                9374 non-null   int64
dtypes: float64(8), int64(7), object(17)
memory usage: 2.4+ MB
None